{
    "Logging": {
        "LogLevel": {
            "Default": "Debug",
            "Microsoft": "Warning",
            "Microsoft.Hosting.Lifetime": "Information"
        }
    },
    "Connection": {
        "Server": "127.0.0.1",
        "Port": "33060",
        "Database": "ongeki_music",
        "User": "root",
        "Password": "password"
    }
}
