{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "Connection": {
      "Server": "127.0.0.1",
      "Port": "3306",
      "Database": "ongeki_music",
      "User": "root",
      "Password": "password"
  }
}
